/* DONT TOUCH */ 
/* DONT TOUCH */ 
body { /* DONT TOUCH */ 
  width: 100%; /* DONT TOUCH */ 
  height: 100%; /* DONT TOUCH */ 
  padding: 0; /* DONT TOUCH */ 
  margin: 0; /* DONT TOUCH */ 
} /* DONT TOUCH */ 
 /* DONT TOUCH */ 
figcaption { /* DONT TOUCH */ 
  font-size: 1rem; /* DONT TOUCH */ 
  text-align: center; /* DONT TOUCH */ 
}/* DONT TOUCH */ 
/* DONT TOUCH */ 
