.gallery{
background-color: red;
display: flex;
flex-flow: row wrap;
}

.quarters {
background-color: blue;
}

.photo {
  width: 10%;

}

.photo figcaption {
  display: flex;
}

.tripled{
background-image: url(../images/rocket1.jpg);
background-repeat: repeat-x;
background-color: orange;
border-radius: 15px;
}

figure {
  background-color: green;

}

figure figcaption {
text-align: center;
color: blue;
justify-content: center;
}
